### C++ ###
# Prerequisites
*.d

### Code Blocks project files ##
*.cbp
*.depend
*.layout

#libraries
[Ll]odepng/

#sanity check
*.zip
*.rar
*.png
*.tga
*.jpg
*.def
*.txt
*.dat

!CMakeLists.txt

# Build results
[Dd]ebug/
[Dd]ebugPublic/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Dd]ata/
[Bb]uild/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.sublime*

### VisualStudioCode ###
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/c++,react,visualstudiocode
